<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="./note_120060.png">
    <title>Blog Page | <%= title %></title>
    <style>
        <%- include("./style1.css") %>
    </style>
</header>