<!-- 
    * particials in ejs is parts of html code that can be repeated
    * in many files so we write it in only one file then called
-->
<nav>
    <div>
        <a href="/">
           <h1 id="first-word">BLOG PAGE</h1>
        </a>
    </div>
    <div id="links">
        <h3 class="comment">A Blog Site</h3>
        <a href="/blogs"><h4 class="pages-links">Blogs</h4></a>
        <a href="/about"><h4 class="pages-links">About</h4></a>
        <a href="/create"><h4 class="pages-links">New Blog</h4></a>
    </div>
    </div>
    <hr>
</nav>